<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/finalmilou</property>
        <property name="hibernate.connection.username">roott</property>
        <property name="hibernate.connection.password">13844831</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <mapping class="milou.User"/>
        <mapping class="milou.Email"/>
    </session-factory>
</hibernate-configuration>